* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: var(--black-blue);
    overflow-x: hidden;
}

.latest-movies {
    padding-top: 12vh;
    padding-left: 4vw;
}

.recommendations {
    padding-top: 5vh;
    padding-left: 4vw;
}

.latest-movies > h1, .recommendations > h1 {
    color: white;
    padding-bottom: 20px;
}

.image-wrapper {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 20px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.image-wrapper > img {
    border: 6px solid var(--white-blue);
    height: 230px;
}