@media screen and (max-width: 500px) {
    .button-container > button {
        width: 300px;
    }

    .text-container > h1 {
        font-size: 70px;
    }

    .text-container > h2 {
        font-size: 30px;
    }
}