* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--black-blue);
    overflow-x: hidden;
}

.container {
    margin: 10vh 5vw 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 35px;
}

.user-info {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.user-icon {
    width: 300px;
}

.movies-info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.watched, .reviewed{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.grading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-movies, .user-reviews {
    margin: 35px 5vw 0;
    color: white;
}

.user-movies > h1 {
    margin-bottom: 30px;
}

.review-card {
    height: fit-content;
    padding: 20px;
    background-color: rgb(2, 19, 66, 0.6);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    margin-top: 30px;
    word-wrap: break-word;
}

.review-card:last-child {
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: white;
}

.image-wrapper {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 20px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.image-wrapper img {
    border: 4px solid var(--white-blue);
    height: 230px;
}