* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--black-blue);
}

.container {
    margin: 10vh 5vw 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 35px;
}

.user-info {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.user-icon {
    width: 300px;
}

.movies-info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.watched, .reviewed {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.user-reviews {
    margin: 35px 5vw 0;
    color: white;
}

.review-card {
    height: fit-content;
    padding: 20px;
    background-color: rgb(2, 19, 66, 0.6);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: white;
}